*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#upper{
    display:flex;
    justify-content: space-between;
    background-color:rgb(4, 24, 81);
    color:white;
    height: 40px;
    align-items: center;
    font-size: small;
}
#upper1{
    display:flex;
    width: 55%;
    justify-content: flex-end;
    
}
#upper2{
    display:flex;
    gap:30px;
    margin-right:50px;
}
.uplink{
    color:white;
}  
#lower{
    display:flex;
    justify-content: space-between;
    height:70px;
}
#lower1{
    display:flex;
    margin:0px 60px;
    gap:30px;
    align-items: center;
}
#lower2{
    display:flex;
    margin:0px 70px;
    gap:40px;
    align-items: center;
    color:black;
}
.none{
    text-decoration: none;
    color:black;
    font-size: 11px;
}
.non{
    text-decoration: none;
    color:black;
}
#content{
    background-image:url(ralph1202_promo_hp_c01_img.avif);
    height:600px;
    background-size: cover;
    color:white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:40px;
    font-size: larger;
}
#content2{
    display:flex;
    gap:20px;
    flex-basis:50px;
}
.con{
    width:120px;
    border-radius:30px;
    border-width:2px;
    border-color: white;
    background:transparent;
    color: white;;
}
.con:hover{
    background-color: white;
    color:black;
}
#see{
    position: relative;
    top:160px;
    color:white;
    font-size:10px;
}
#foocon{
    display: flex;
    gap:10px;
    margin:0px 40px;
}
.no{
    display: flex;
    flex-direction: column;
    flex-basis:25%;
    gap:15px;
    border-right-style:solid;
    border-right-color:rgba(0, 0, 0, 0.2);
    border-right-width:1px;
}
#footer{
    margin-top: 35px;
    margin-bottom:35px;
}
.infcon{
    color:black;
    text-decoration:none;
}
#four{
    border-right-width:0px;
}
#gap{
    height:70px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(0, 0, 0, 0.2);
}
input{
    height:40px;
    width:340px;
    padding:10px;
}
#bottomlinks{
    height:70px;
    border-width:1px 0px;
    border-style:solid;
    border-color:rgba(0, 0, 0, 0.2);
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.bl{
    color:rgb(80, 80, 222);
    font-size:25px;
}
#copyright{
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}